/*=============== GOOGLE FONTS ===============*/
@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@400;600;700&display=swap");

/*=============== VARIABLES CSS ===============*/
:root {
  --header-height: 3.5rem;

  /*========== Colors ==========*/
  /*Color mode HSL(hue, saturation, lightness)*/
  --title-color: hsl(0, 0%, 100%);
  --text-color: hsl(0, 0%, 60%);
  --body-color: hsl(0, 0%, 0%);

  /*========== Font and typography ==========*/
  /*.5rem = 8px | 1rem = 16px ...*/
  --body-font: "Montserrat", sans-serif;
  --h1-font-size: 1.5rem;
  --h3-font-size: 1rem;
  --normal-font-size: 0.938rem;
  --small-font-size: 0.813rem;

  /*========== Font weight ==========*/
  --font-regular: 400;
  --font-semi-bold: 600;
  --font-bold: 700;

  /*========== z index ==========*/
  --z-tooltip: 10;
  --z-fixed: 100;
}

/*========== Responsive typography ==========*/
@media screen and (min-width: 1152px) {
  :root {
    --h1-font-size: 2.25rem;
    --h3-font-size: 1.25rem;
    --normal-font-size: 1rem;
    --small-font-size: 0.875rem;
  }
}

/*=============== BASE ===============*/
* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

body {
  font-family: var(--body-font);
  font-size: var(--normal-font-size);
  background-color: var(--body-color);
  color: var(--text-color);
}

ul {
  list-style: none;
}

a {
  text-decoration: none;
}

img {
  display: block;
  max-width: 100%;
  height: auto;
}

/*=============== REUSABLE CSS CLASSES ===============*/
.container {
  max-width: 1120px;
  margin-inline: 1.5rem;
}

.main {
  overflow: hidden;
}

/*=============== HEADER & NAV ===============*/
.header {
  position: fixed;
  width: 100%;
  top: 0;
  left: 0;
  background-color: var(--body-color);
  border-bottom: 1px solid var(--text-color);
  z-index: var(--z-fixed);
}

.nav {
  height: var(--header-height);
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.nav__logo {
  color: var(--title-color);
  font-weight: var(--font-semi-bold);
  letter-spacing: 3px;
}

.nav__toggle,
.nav__close {
  font-size: 1.25rem;
  color: var(--title-color);
  cursor: pointer;
}

/* Navigation for mobile devices */
@media screen and (max-width: 1023px) {
  .nav__menu {
    position: fixed;
    top: -100%;
    left: 0;
    background-color: var(--body-color);
    border-bottom: 1px solid var(--text-color);
    width: 100%;
    padding-block: 4.5rem 3rem;
    transition: top 0.6s ease-in-out;
    -webkit-transition: top 0.6s ease-in-out;
    -moz-transition: top 0.6s ease-in-out;
    -ms-transition: top 0.6s ease-in-out;
    -o-transition: top 0.6s ease-in-out;
  }
}

.nav__list {
  display: flex;
  flex-direction: column;
  row-gap: 3rem;
  text-align: center;
}

.nav__link {
  color: var(--text-color);
  font-weight: var(--font-semi-bold);
  letter-spacing: 3px;
  transition: color 0.3s;
  -webkit-transition: color 0.3s;
  -moz-transition: color 0.3s;
  -ms-transition: color 0.3s;
  -o-transition: color 0.3s;
}

.nav__link:hover {
  color: var(--title-color);
}

.nav__social {
  display: flex;
  justify-content: center;
  column-gap: 1.5rem;
  margin-top: 3rem;
}

.nav__social-link {
  font-size: 1.5rem;
  color: var(--text-color);
  transition: color 0.4s;
  -webkit-transition: color 0.4s;
  -moz-transition: color 0.4s;
  -ms-transition: color 0.4s;
  -o-transition: color 0.4s;
}

.nav__social-link:hover {
  color: var(--title-color);
}

.nav__close {
  position: absolute;
  top: 1.15rem;
  right: 1.5rem;
}

/* Show menu */
.show-menu {
  top: 0;
}
/*=============== HOME ===============*/

.home__container,
.home__content,
.home__images,
.home__data,
.home__info-content {
  display: grid;
}

.home__container {
  padding-block: 9rem 3rem;
  row-gap: 3rem;
}

.home__data {
  text-align: center;
  row-gap: 3.5rem;
}

.home__content {
  row-gap: 0.75rem;
}

.home__stars {
  display: flex;
  column-gap: 0.25rem;
  justify-content: center;
}

.home__title {
  font-size: var(--h1-font-size);
  color: var(--title-color);
}

.home__price {
  font-size: var(--h3-font-size);
}

.home__button {
  border: 1px solid var(--text-color);
  padding: 1rem 1.5rem;
  color: var(--title-color);
  justify-self: center;
  font-weight: var(--font-semi-bold);
  letter-spacing: 3px;
  font-size: var(--small-font-size);
  display: inline-flex;
  align-items: center;
  column-gap: 1.5rem;
  transition: border-color 0.4s;
  -webkit-transition: border-color 0.4s;
  -moz-transition: border-color 0.4s;
  -ms-transition: border-color 0.4s;
  -o-transition: border-color 0.4s;
}

.home__button:hover {
  border-color: var(--title-color);
}

.home__button i {
  font-size: 1.25rem;
}

.home__images {
  position: relative;
}

.home__img {
  width: 180px;
  margin-inline: auto;
}

.home__info {
  display: flex;
  align-items: center;
  column-gap: 0.75rem;
  margin-top: 2rem;
}

.home__info-img {
  width: 120px;
}

.home__info-content {
  row-gap: 1.5rem;
}

.home__info-description {
  font-size: var(--small-font-size);
}

.home__button-link {
  font-size: var(--small-font-size);
  color: var(--text-color);
  font-weight: var(--font-semi-bold);
  justify-self: flex-start;
  letter-spacing: 3px;
  transition: color 0.4s;
  -webkit-transition: color 0.4s;
  -moz-transition: color 0.4s;
  -ms-transition: color 0.4s;
  -o-transition: color 0.4s;
}

.home__button-link:hover {
  color: var(--title-color);
}

/* Swiper class */
.swiper {
  margin-inline: initial;
}

.swiper-pagination-bullets.swiper-pagination-horizontal {
  bottom: -2rem;
}

.swiper-pagination-bullet {
  width: 1rem;
  height: 0.15rem;
  border-radius: 0;
  -webkit-border-radius: 0;
  -moz-border-radius: 0;
  -ms-border-radius: 0;
  -o-border-radius: 0;
  background-color: var(--text-color);
  opacity: 1;
  transition: background-color 0.3s, width 0.3s;
  -webkit-transition: background-color 0.3s, width 0.3s;
  -moz-transition: background-color 0.3s, width 0.3s;
  -ms-transition: background-color 0.3s, width 0.3s;
  -o-transition: background-color 0.3s, width 0.3s;
}

.swiper-pagination-bullet-active {
  width: 1.5rem;
  background-color: var(--title-color);
}

/*=============== SCROLL BAR ===============*/
::-webkit-scrollbar {
  width: 0.6rem;
  background-color: hsl(0, 0%, 12%);
}

::-webkit-scrollbar-thumb {
  background-color: hsl(0, 0%, 20%);
}

/*=============== BREAKPOINTS ===============*/
/* For small devices */
@media screen and (max-width: 320px) {
  .container {
    margin-inline: 1rem;
  }

  .home__info {
    flex-direction: column;
    row-gap: 2rem;
    text-align: center;
  }

  .home__button-link {
    justify-self: center;
  }
}

/* For medium devices */

@media screen and (min-width: 576px) {
  .home__container {
    grid-template-columns: 400px;
    justify-content: center;
  }
}

/* For large devices */
@media screen and (min-width: 1023px) {
  .nav {
    height: calc(var(--header-height) + 2rem);
  }

  .nav__toggle,
  .nav__close {
    display: none;
  }

  .nav__menu {
    display: flex;
    align-items: center;
    column-gap: 4rem;
  }

  .nav__list {
    flex-direction: row;
    column-gap: 4rem;
  }
  .nav__social {
    margin: 0;
  }

  .home__container {
    height: 100vh;
    grid-template-columns: repeat(3, 1fr);
    align-items: center;
    column-gap: 4rem;
  }

  .home__data {
    text-align: initial;
  }

  .home__stars {
    justify-content: initial;
  }

  .home__button {
    justify-self: start;
  }

  .home__info {
    margin: 0;
    flex-direction: column;
    row-gap: 1.25rem;
    align-items: initial;
  }
}

@media screen and (min-width: 1152px) {
  .container {
    margin-inline: auto;
  }

  .home__container {
    height: initial;
    grid-template-columns: repeat(3, 320px);
    justify-content: space-between;
    padding-block: 11rem 4rem;
  }

  .home__data {
    row-gap: 9.5rem;
  }

  .home__stars {
    column-gap: 0.75rem;
  }

  .home__title {
    font-size: 1.8rem;
  }

  .home__img {
    width: 225px;
  }

  .home__info-img {
    width: 150px;
  }

  .home__info-description {
    font-size: var(--normal-font-size);
  }

  .home__info-content {
    row-gap: 7.5rem;
  }
}

/* For taller devices */
